td:hover {
    background-color: #00ffd5;
    font-weight: bold;
}

main {
    width: 30rem;
    margin: 1rem 21rem;

}

td {
    text-align: center;
    vertical-align: bottom;
}

th {
    background-color: rgb(0, 255, 179);
    color: #009faa;
}

table {
    border-color: #ffffff;
    box-shadow: 4px 4px 4px 1px #009faa;
    width: 40rem;

}

tr:nth-child(even) {
    background-color: rgb(149, 252, 149);
}

tr:nth-child(odd) {
    background-color: rgb(153, 240, 240);
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
}

.azul {
  background-color: rgb(121, 121, 184);
}

