tr:hover {
    color: #000000;
    font-weight: bold;

}

main {
    width: 30rem;
    margin: 5rem auto;
}

td {
    text-align: center;
}

th {
    background-color: aqua;
    color: #009faa
}

table {
    border-color: #ffffff;
    box-shadow: 4px 4px 4px 1px #009faa;
}

tr:nth-child(even) {
    background-color: aquamarine;
}

tr:nth-child(odd) {
    background-color: rgb(127, 255, 255);
}

html,
body {
    font-family:'Times New Roman', Times, serif;
}